{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Guru Tools</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi corporis mollitia accusantium ipsum eaque tempora, expedita non ex maiores consectetur nostrum est labore pariatur at explicabo quas! Necessitatibus fugit accusamus, vel quos esse rerum dolor ratione incidunt consectetur quasi quod, commodi molestias provident dicta consequuntur suscipit libero laboriosam aut perferendis voluptas veniam excepturi ex, cumque cupiditate. Aliquid ex quasi suscipit sit libero error molestiae delectus reprehenderit cupiditate eaque corporis natus mollitia optio voluptas cum iste, velit placeat quo beatae. Temporibus ut magni tempore sunt error cumque, qui dolores repudiandae blanditiis consequatur asperiores! Possimus, quaerat magni. Quo alias deleniti illo voluptas.</p>
    
    <di class="text-center">
        <a class="btn btn-primary" href="/signin">
            Login
        </a>
        <a class="btn btn-primary" href="/signup">
            Registro
        </a>
        
    </div>

    </section>
</main>

{% endblock %}